@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inknut+Antiqua:wght@300&display=swap');

body {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background-color: #c0c0c0b2;
}

.container-two,
.container-one {
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.card-one {
  border: 2px solid;
  height: 20rem;
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  box-shadow: 5px 10px;
}

.divider {
  font-family: 'Inknut Antiqua', serif;
  align-items: center;
  font-size: 33px;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-evenly;
}

.about {
  font-size: 15px;
  width: 80%;
}

.about-score {
  height: 30%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-container {
  font-family: 'Inknut Antiqua', serif;
  height: 8rem;
  width: 100%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.player-score,
.computer-score {
  width: 18%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  padding-left: 2px;
  padding-right: 2px;
  align-items: center;
}

.card-two {
  height: 17rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.result {
  font-size: 1.5rem;
}

button {
  border-radius: 10%;
  background-color: rgba(229, 232, 235, 0.687);
  font-family: 'Inknut Antiqua', serif;
  height: 15rem;
  width: 15rem;
  box-shadow: 5px 10px;
  transition: 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.1);
}

