@import url('https://fonts.googleapis.com/css2?family=Almendra:ital@0;1&display=swap');

:root {
  --green: #22a262b2;
  --purple: #9932cc95;
  --maroon: #cd5c5cae;
}

body {
  font-family: 'Almendra', serif;
  text-transform: capitalize;
  padding: 0;
  border: none;
}

#header {
  width: 100%;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 2.8rem;
  gap: 4rem;
}

.wand, .bow, .mace {
  text-transform: uppercase;
}

.wand {
  color: var(--purple);
}

.bow {
  color: var(--green);
}

.mace {
  color: var(--maroon);
}

.sub-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
}

.function-container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: .5rem;
  margin-top: 5rem;
}

.img-container {
  border: rgba(0, 0, 0, 0.636) solid;
  border-radius: 1%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10rem;
  width: 50%;
  padding: .7rem;
}

img {
  height: 5rem;
  width: auto;
  opacity: 65%;
}

.function-container .img-container .img img {
  transition: .2s ease-in-out;
}

.function-container .img-container .img img:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.seperator {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.score-container {
  width: 100%;
  padding: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-board {
  border: rgba(0, 0, 0, 0.636) solid;
  font-size: 1.2rem;
  padding: .5rem;
  border-radius: 1%;
  height: 10rem;
  width: 50%;
  display: flex;
}

.item-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 2;
}

.info-board {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  flex: 3;
}

.rounds, .lives {
  margin-top: 1rem;
}

/* modals */
.modal-container-one,
.modal-container-two {
  border: rgba(0, 0, 0, 0.636) solid;
  width: 100%;
  display: none;
}

.modal-card-one, .modal-card-two {
  border: rgba(0, 0, 0, 0.636) solid;
  height: 70vh;
  width: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 39%;
  right: 29%;
  background-color: #fff;
  z-index: 1;
}

#anounce-one, #anounce-two {
  font-size: 2rem;
}

#winner-one, #winner-two {
  font-size: 4rem;
}